
@import "reset.scss";
@import "fonts.scss";

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Yusei+Magic&display=swap');

body{
    background: rgb(29,47,101);
    background: linear-gradient(90deg, rgba(29,47,101,0.989233193277311) 0%, rgba(26,92,120,1) 45%, rgba(12,94,107,1) 100%);
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
header{
    margin-top: 20px;
    .header-title{
        text-align: center;
        font-size: 100px;
        border-bottom: 2px solid rgb(145, 140, 140);
        padding-bottom: 15px;
        color: antiquewhite;
        font-family: 'Roboto', sans-serif;
    }
    p{
        color: wheat;
        font-size: 30px;
        padding-top: 20px;
        font-family: 'Yusei Magic', sans-serif;
        text-align: center;
    }
    .header-time{
        display: flex;
        justify-content:center;
        margin-top: 30px;
        .header-time__title{
            color: blanchedalmond;
            font-size: 25px;
            display: flex;
            flex-direction: row;
            justify-content: center; 
        }
        .header-time__actual{
            color: blanchedalmond;
            font-size: 25px;
            padding-left: 10px;
        }
    }
    
}

.rates {
    margin-top:50px;

    .rates-content {
        width: 580px;
        margin: 0 auto;
        .rates-items {
            display: flex;
            justify-content: space-around;
            border-bottom: 2px solid white;
            padding-bottom: 5px;
                & h4{
                    color: #ffff;
                    font-weight: 700;
                    font-size: 25px;
                    margin-left: 85px;
                }
        }
        .rates-currency {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0 30px 0;
            .rates-currency__title {
                color: #ffff;
                font-weight: 700;
                font-size: 40px;
            }
            .rates-currency__value {
                min-width: 107px;
                text-align: center;
                border: 3px solid white;
                border-radius: 10px;
                padding: 5px;
                color: #b2cc25;
                font-weight: 700;
                font-size: 40px;
            }
        }
    }
}

.converter {
    display: flex;
    padding: 70px 0px;
    .converter__title {
        text-align: center;
        font-size: 50px;
        color: #ffff;
        margin-bottom: 40px;
    }
    .converter-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid;
        padding: 100px 50px;
        .currency-base,.currency-to-change{
            display: flex;
            flex-direction: column; 
            .currency-base__select,.currency-to-change__select {
                padding: 7px;
            }
            .currency-base__input,.currency-to-change__input {
                margin-top: 5px;
                padding: 7px;
                width: 100%;
            }
        }
        .exhange {
            margin: 0 10px;
            & i{
                font-size:30px;
            }
        }
        .converter-button {
            padding: 1rem;
            border: 2px solid black;
            background-color: #b2cc25;
            border-radius: 15px;
            position: absolute;
            bottom:10px;
            & button{
                font-size:17px;
                background: transparent;
            }
        } 
    }
}

